@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap");

.links {
  text-decoration: none;
  color: #0e0d0d;
}

.links a {
  color: #0e0d0d;
}
.links a:hover {
  color: #d49733;
  transition: ease-in-out 0.3s;
}

.links .active {
  color: #d49733;
  border-bottom: 2px solid #ffc107;
  transition: ease-in-out 0.4s;
}

.header-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 120px;
}
h1 {
  color: #d49733;
  font-size: 10px;
}
.about-container {
  padding-top: 50px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
.service-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.contact-header {
  text-align: center;
}
.clients-header {
  text-align: center;
}

/* blog-screen*/
.blogs-container {
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  
}
@media screen and (min-width: 720px) and (max-width: 979px) {
  .blogs-container{
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
  }
  
}

.blogs-flex {
  flex: 6;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.blogs-sidebar {
  margin-top: 5.2rem;
  flex: 3;
  height: fit-content;
  background-color: #f0f0f0;
  display: flex;
}


.blogSidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogSidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  /* border-top: solid 1px #a7a4a4; */
  border-bottom: solid 1px #a7a4a4;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #222222;
  font-weight: 600;
}



.blogSidebarList {
  list-style-type: none;
  margin-bottom: 30px;
  
}

.sidebarListItem {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}
.itemNumber{
  color: rgb(26, 164, 219);
  float: right;
  font-weight: 700;
  padding-right: 10px;

}
/* grid */
.blogGrid{
  display: grid;
  margin-left: auto;
  margin-right: auto;width: 80%;

}
.recentBlogsContainer{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  color: #ffc107;
}
@media (max-width: 860px) {
  .blogs-container{
    width: fit-content;
    display: flex;
    flex-direction:column;
    align-content:center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 860px)  {
  .blogFlexContainer{
    width: fit-content;
    display: flex;
    flex-direction:column;
    align-content:center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 860px)  {
  .blogs-sidebar{
    margin: 20px 10px 20px 0px;
   
  }
}